@import 'bulma/css/bulma.css';

@import '@fortawesome/fontawesome-free/css/all.css';

.loghtml {
    height: 100%;
}

.logbody {
    background: #e6e6e6;
    min-height: 100%;
}

.navcontanier {
    background-color: rgb(44, 87, 132) !important;
}